.header {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 32px;
  gap: 16px;
}

.logo {
  width: 144px;
  display: flex;
  align-items: center;
  gap: 16px;

  svg {
    fill: rgba(255, 255, 255, 1);
  }
}

.searchForm {
  position: relative;
  width: 379px;
  height: 68px;
  padding: 0 16px 0 38px;
}

.input {
  display: block;
  width: 87%;
  height: 68px;
  padding: 0;
  border: 0;
  background: none;
  color: #ffffff;
  font-size: 16px;
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
}

.searchButton {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 87%;
  cursor: pointer;

  transform: translateY(-50%);

  border: none;
  background-size: cover;
  background-color: transparent;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
}

.promoCodeButton {
  height: 44px;
  width: 110px;
  padding: 10px 16px 10px 16px;
  background-color: rgba(255, 255, 255, 0.1);

  font-size: 16px;
  font-weight: 500;
  line-height: 20.48px;
  text-align: center;
}

.authButton {
  width: 70px;
  height: 31px;
  background: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 30.72px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(186, 186, 186, 1);
}
