.header{
  height: 92px;
  display: flex;
  padding: 9px 32px;
  gap: 16px;
  align-items: center;
  background: #09090C;
}

.logo{
  width: 144px;
  display: flex;
  align-items: center;
  gap: 16px;
}

