.content {
  width: 896px;
  //height: 1319px;
  display: flex;
  flex-direction: column;
}

.listNewMovies {
  position: relative;
  height: 447px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  width: 100px;
  height: 31px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30.72px;
  text-align: left;
}
