.tag {
  position: absolute;
  padding: 10px 16px;

  border-radius: 32.41px;
  box-shadow: 0 0.38px 6.86px 0 rgba(255, 255, 255, 0.05) inset,
  -0.38px 0px 12.57px 0px rgba(255, 255, 255, 0.2) inset,
  0px 1.48px 1.48px 0px rgba(0, 0, 0, 0.25);

  font-size: 12px;
  font-weight: 450;
  line-height: 15.36px;
  text-transform: uppercase;
}
