.content {
  width: 896px;
  height: 1319px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: $mobile-width) {
  .content {
    width: 343px;
    height: 1266px;
    gap: 32px;
  }
}
