.moviesWeek {
  position: relative;
  width: 928px;
  height: 424px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-family: $font-drukWideCyr;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.movies {
  position: absolute;
  width: 1089px;
  bottom: 0;
  left: 0;
  right: -32px;
  display: flex;
  gap: 20px;
}

.movie {
  position: relative;
  height: 370px;
  min-width: 333px;
  max-width: 333px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.movie:last-child {
  min-width: 453px;
  max-width: 453px;
}

.peviewMovie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 246px;
  height: 370px;

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
