.content {
  width: 960px;
  height: 594px;
}

@media (max-width: $mobile-width) {
  .content {
    width: 375px;
    height: 321px;
    --swiper-pagination-bottom: 0;

    .swiper-pagination {
      display: none;
    }

    span {
      --swiper-theme-color: rgba(151, 71, 255, 1);
      --swiper-pagination-bullet-inactive-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.125) 50%,
        rgba(255, 255, 255, 0.1) 100%
      );
      --swiper-pagination-bullet-inactive-opacity: 1;
    }
  }

  .contentMovie {
    width: 376px;
    height: 620px;
  }
}
