.content {
  width: 960px;
  height: 594px;
}

.trailerSection {
  position: relative;
  height: 594px;
  width: 100%;
}

.backward {
  display: none;
}

.preview {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.preview:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #09090c 100%),
    linear-gradient(180deg, #09090c 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, #09090c 21.09%, rgba(0, 0, 0, 0) 50%);
}

.info {
  padding: 0 32px 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 338px;
  height: 101px;
}

.description {
  width: 554px;
  height: 104px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.6px;
}

.buttonsBlock {
  width: 476px;
  display: flex;
  gap: 8px;
}

.softkeyGroup {
  display: flex;
  gap: 8px;

  button {
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .content {
    width: 375px;
    height: 321px;
    --swiper-pagination-bottom: 0;

    .swiper-pagination {
      display: none;
    }

    span {
      --swiper-theme-color: rgba(151, 71, 255, 1);
      --swiper-pagination-bullet-inactive-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.125) 50%,
        rgba(255, 255, 255, 0.1) 100%
      );
      --swiper-pagination-bullet-inactive-opacity: 1;
    }
  }

  .contentMovie {
    width: 376px;
    height: 620px;
  }

  .trailerSection {
    position: relative;
    width: 376px;
    max-height: 300px;
  }

  .trailerSectionMovie {
    position: relative;
    width: 376px;
    max-height: 620px;
  }

  .backward {
    position: absolute;
    width: 66px;
    height: 24px;
    top: 12px;
    left: 9px;
    z-index: 2;
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 20.48px;
  }

  .leftArrow {
    width: 20px;
    height: 20px;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 5.93px;
      height: 9.51px;
    }
  }

  .preview {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-62%);

      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }

  .preview:before {
    position: absolute;
    content: "";
    z-index: 1;
    background: linear-gradient(359.95deg, #09090c 19.4%, rgba(9, 9, 12, 0) 52.5%);
  }

  .previewMovie {
    width: 100%;
    height: 478px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-59%);

      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }

  .previewMovie:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(180deg, #09090c 0%, rgba(0, 0, 0, 0) 24%),
      linear-gradient(180.04deg, rgba(0, 0, 0, 0) 39.21%, #09090c 68.95%);
  }

  .info {
    position: absolute;
    width: 343px;
    height: auto;
    padding: 0;
    gap: 16px;
    left: 16px;
    bottom: 0;
    right: 0;
  }

  .logo {
    width: 176px;
    height: 54px;
    image-rendering: pixelated;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .logoMovie {
    width: 291px;
    height: 79px;
    image-rendering: pixelated;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .hideButtonsBlock {
    display: none;
  }

  .buttonsBlock {
    width: 343px;
  }

  .softkeyGroup {
    width: 343px;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .description {
    width: 343px;
    height: 100px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
  }

  .buttonsBlock {
    flex-direction: column;
  }
}
