.mainTemplate {
  font-family: $font-main;
  background: #09090c;
  width: 960px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (max-width: 376px) {
  .mainTemplate {
    max-width: 100%;
    overflow: hidden;
  }
}
