.listNewMovies {
  height: 447px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  width: 100px;
  height: 31px;

  font-size: 24px;
  font-weight: 500;
}

.contentNewMovies {
  height: 386px;
  width: 928px;
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.movie {
  display: flex;
  flex-direction: column;
  gap: 12px;

  img {
    border-radius: 24px;
  }
}

.badgeWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 16px;
  left: 16px;
}

.rating {
  width: 40px;
  height: 29px;
  padding: 5px 8px 5px 8px;
  border-radius: 8px;
  background: rgba(38, 116, 251, 1);

  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  width: 216px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: $mobile-width) {
  .listNewMovies {
    width: 343px;
    min-height: 342px;
    gap: 12px;
  }

  .contentNewMovies {
    max-width: 345px;
    max-height: 300px;
    gap: 8px;
    margin-left: 0;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
  }

  .movie {
    max-width: 168px;
    margin-right: 8px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .badgeWrapper {
    top: 12px;
    left: 12px;
  }

  .rating {
    width: 38px;
    height: 26px;
    padding: 8px 8px 6px 8px;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .name {
    width: 168px;
    font-size: 14px;
    font-weight: 500;
  }

  .time {
    font-size: 14px;
    font-weight: 400;
  }
}
