.status {
  padding: 6px 8px 5px;
  border-radius: 8px;
  background: rgba(9, 9, 12, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 16px;
  font-weight: 500;
  line-height: 19.17px;
  text-align: left;
}

@media (max-width: 375px) {
  .status {
    width: auto;
    height: 26px;
    padding: 8px 8px 7px 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 17.92px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
